.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.category-products{
display: flex;
flex-direction: column;
align-items: center;
}

.category-name{
  font-family: Raleway, serif;
  line-height: 160%;
  font-size: 40px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 15px;
  box-sizing: border-box;
}

.product-list{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.product-list-align::after {
  content: "";
  flex: auto;
}

.home-container{
position: relative;
display: flex;
flex-direction: column;
flex: 1;
width: 100%;
height: 100%;
}
.home-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  }

  .product-main-div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family:  serif;
    padding: 20px;
    margin: 0 0 100px 0;
  
    }
    .product-div:hover {
      box-shadow: 0 5px 35px rgba(168, 172, 176, 0.19);
    }

    .image-container{
      position: relative;
      display: flex;
      align-items: center;
      justify-items: center;
    
      }
      .image-style{
        height: 330px;
        width: 100%;
        max-width: 350px;
        object-fit: contain;
      }
      .show-out-of-stock{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background: #FFFFFF;
        opacity: 0.5;
      }
      .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        font-family: Raleway, serif;
        padding: 15px;
        box-sizing: border-box;
      }
     .logo{
       height: 75px;
     }

     .categories-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap
     }
     .currency-shop-cart{
      display: flex;
      flex-direction: row;
      align-items: center 
     }
     .currency-open{
      position: relative;
      height: 55px;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
     }
     
     .symbols{
      padding-bottom: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
     }
     .arrow-up-container{
      margin: 0 7px 0 7px;
     }

     .currency-menu{
      margin: 25px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      box-shadow: 0 5px 35px rgba(168, 172, 176, 0.19);
      height: 170px;
      width: 115px;
      z-index: 2;
      background-color: white;
     }
     .currency-header{
      text-align: center;
      width: 100%;
      height: 100%;
      padding-top: 7px;
      cursor: pointer;    
     }
     .currency:hover{
      background-color: rgba(0, 0, 0, 0.15);
     }
     .shop-cart-container{
      position: relative;
      height: 55px;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      margin: 3px;
     }
     .shop-cart-open{
      position: absolute;
      right: 0;
      z-index: 2;
     }
     .cart-list-shop{
      position: absolute;
      display: flex;
      justify-content: center;
      top: -10px;
      right: -10px;
      background-color: black;
      border-radius: 10px;
      Width: 20px;
      Height: 20px;
      color: white;
      font-family: Roboto, sans-serif;
     }
     .shop-mini-main-container{
      display: flex;
      flex-direction: column;
      width: 325px;
      background-color: white;
      z-index: 10;
      margin-top: 30px;
     }
     .content-container{
      margin-left: 13px;
      margin-right: 13px;
     }
     .shop-bag{
      font-weight: bold;
     }
     .all-products{
      display: flex;
      flex-direction: column
     }
     .shop-product{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 45px;
     }
     .product-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     }
     .name-product{
      font-family: Raleway, serif;
      font-weight: 300;
      font-size: 16px;
     }
     .amount-product{
      font-family: Raleway, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
     }
     .attribute-set{
      display: flex;
      flex-wrap: wrap;
     }
     .attribute-cart{
      height: 24px;
      border: solid 1px black;
      margin: 0 4px;
      padding: 4px 6px;
     display: flex;
     justify-content: center;
     align-items: center;
     }
     .button-shop{
      display: flex;
      align-items: center;
     }
     .button-block{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
     }
     .shop-button{
      border: solid 1px black;
      width: 24px;
      height: 24px;
      text-align: center;
     }
     .shop-quantity{
      border: solid 1px black;
      width: 24px;
      height: 24px;
      text-align: center;
     }
     .miniatue{
      padding-left: 10px;
      width: 105px;
      height: 137px;
      object-fit: contain;
     }
     .total-amount-cart{
       font-family: Raleway,serif;
       font-style: normal;
       font-weight: bold;
       font-size: 16px;
     }
     .cart-total{
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
     }
     .checkout-button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 20px;
     }
     .view-bag{
      border: 1px solid #1D1F22;
      padding: 10px 25px;
      background-color: white;
      margin-right: 12px;
      width: 140px;
      height: 43px;
      cursor: pointer;
     }
     .check-out{
      background-color: #5ECE7B;
      border: 1px solid #5ECE7B;
      padding: 10px 25px;
      color: white;
      width: 140px;
      height: 43px;
     }
     .text-style{
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
     }
     .link-color{
      text-decoration: none;
      color: black;
     }
     .item-category-name{
      height: 55px;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      margin: 3px;
     }
     .category:hover{
      color: #5ECE7B;
      border-bottom: 2px solid #5ECE7B;
      cursor: pointer;
     }
     .category-selected{
      color: #5ECE7B;
      border-bottom: 2px solid #5ECE7B;
     }
     .product-info-main{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-height: 100vh;
      z-index: 1;
     }
     .product-info-container{
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      flex: 1;
     }
     .product-info-overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
     }
     .product-info{
      width: 100%;
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
      margin-left: 15px;
      flex-direction: row;
    
      @media (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
      }
     }

     .product-info-all-iamges{
      display: flex;
     }
     .product-info-miniature{
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      cursor: pointer;
    
      @media (max-width: 1250px) {
        margin-left: 10px;
      }
     }
     .product-info-image-min{
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-bottom: 30px;
    
     }
     .image-min:hover{
      box-shadow: 0 5px 35px rgba(168, 172, 176, 0.19);
     }
     .main-photo-product-info{
      display: flex;
      margin-right: 100px;
      margin-left: 100px;
    
      @media (max-width: 1250px) {
        margin-right: 0;
        margin-left: 0;
      }
     }
     .info-detail{
      display: flex;
      flex-direction: column;
    
      @media (max-width: 1250px) {
       margin-left: 10px;
      }
     }
     .product-name{
      font-family: Raleway, serif;
      font-weight: 500;
      font-size: 30px;
     }
     .product-info-photo{
      max-width: 511px;
      max-height: 610px;
     }
     .product-price-info{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      font-family: Roboto Condensed, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
     }
     .product-info-word{
      font-family: Roboto Condensed, serif;
     }
     .product-info-amount{
      font-family: Raleway, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
     }
     .product-info-add-to-cart{
      background-color: #5ECE7B;
      border: none;
      color: white;
      padding: 15px;
      font-family: Raleway, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 40px;
      @media (max-width: 1250px) {
        margin-right: 10px;
      }
      
     }
     .info-cart-hover:hover{
        background-color: #4fa866;
        cursor: pointer;
     }

     .description-info{
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
       margin-right: 10px;
   }
   .full-shop-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
   }
   .full-shop-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    flex: 1;
   }
   .full-shop-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   }
   .product-block{
    max-width: 1200px;
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   }
   .full-shop-cart{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
   }
   .product-in-cart-main{
    border-top: #E5E5E5 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
   }

   .product-in-cart-info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
   }
   .product-in-cart-name{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
   }
   .product-in-cart-price{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
   }

   .product-in-cart-attribute{
    border: solid 1px black;
    margin: 0 4px;
    padding: 4px 6px;
    width: 63px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .cart-button-photo{
    padding-top: 20px;
    display: flex;
    align-items: center;
    height: 100%;
   }
   .cart-button-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }

   .cart-quantity{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .cart-button{
    border: solid 1px black;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .cart-photo-block{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    position: relative;
   }
   .arrow-cart-container{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .arrow-pointer{
    cursor: pointer;
   }
   .cart-miniature{
    width: 141px;
    height: 185px;
    object-fit: contain;
    pointer-events: none;
   }
   .attribute-container{
    padding-top: 40px;
    padding-bottom: 7px;
    font-family: Roboto Condensed, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
   }
.attribute-name-container{
  padding-top: 40px;
  padding-bottom: 7px;
  font-family: Roboto Condensed, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
}
.variants-container{
  display: flex;
  flex-wrap: wrap;
}

.attribute-one-variant{
  margin-right: 12px;
  padding: 15px 20px;
  border: 1px solid #1D1F22;
  margin-top: 10px;
}
.attribute-onhover :hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.variant-selected{
  color: white;
  background-color: black;
  cursor: pointer;
}

.one-variant-attribute{
  margin-right: 12px;
  padding: 15px 20px;
  border: 1px solid #1D1F22;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}




     

    
